<!-version 2.0 名字改过了 Linked Mind / Forum改为了Community->
<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/dashboard" class="brand-logo"><i class="fab fa-microblog"></i>Linked Mind</a>
      <ul class="hide-on-med-and-down right">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/forum">Community</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/forum/user/{{userId}}">Profile</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
