
<div class="layui-container">
  <h2>Post</h2>
<div class="row">
  <form action="/dashboard" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" placeholder="Required">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select id="privacy" name="privacy" placeholder="Public">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
        </select>
        <label for="privacy">Privacy</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h6>Content</h6>
        <textarea id="description" name="description" class="materialize-textarea" style="color:#000000;" placeholder="Content Here">{{task.description}}</textarea>
        </script>
      </div>
    </div>

    <div class="row">
      <button type="submit" value="Save" class="btn waves-effect waves-light red" style="width:70pt;">SAVE</button>
      <a href="/dashboard" class="btn grey" style="width:70pt">Cancel</a>
    </div>

  </form>
</div>
</div>
