
<div class="layui-container">
  <h2>Edit</h2>
<div class="row">
  <form action="/dashboard/{{task._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" value="{{task.title}}">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select id="privacy" name="privacy">
          {{#select task.privacy}}
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
          {{/select}}
        </select>
        <label for="privacy">Privacy</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h6>Content</h6>
        <textarea id="description" name="description">{{task.description}}</textarea>
        </script>
      </div>
    </div>

    <div class="row">
      <button type="submit" value="Save" class="btn waves-effect waves-light red" style="width:70pt;">UPDATE</button>
      <a href="/dashboard" class="btn grey" style="width:70pt">Cancel</a>
    </div>

  </form>
</div>
</div>
