<h2>Dashboard (Public) Page</h2>
<a href='/dashboard/showpublic'>Show public</a> || <a href='/dashboard/showprivate'>Show private</a> || <a href='/dashboard'>Show all</a>
<br><br><br><br>
{{#if publictasks}}
  {{#each publictasks}}
    <p>{{title}} {{description}} {{privacy}}</p>
  {{/each}}
{{/if}}
<br><br><br><br>
<a href='/dashboard/add'>Create a new story</a>
<br><br><br><br>
<a href='/home'>Back</a>
