<!-version2.0->
<div class="wrapper">
  <div class="header">
    Welcome back
  </div>
  <br />
  <br />
  <br />
  <div id="header-home">
    <div class="btn-group-home">
      <button><a href="/dashboard">Dashboard</a></button>
      <button><a href="/forum">Community</a></button>
      <button><a href="/leaderboard">Leaderboard</a></button>
      <div class="c"></div>
    </div>
    <div class="c"></div>
  </div>
</div>
<br />
<div class="footer">
  <button class = "small-button" type="submit" value="Save"><a href="/auth/logout"><font color = "whitesmoke">Log Out</font></a></button>
</div>
