.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

p {
  margin: 10px 0 !important;
}

.btn-float {
  float: left;
  margin: 0px 5px;
}

.mybutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.task-card-image{
    height: 250px; /* Your height here */
    overflow: hidden;
}

.task-card-text {
    height: 130px; /* Your height here */
    overflow: hidden;
}

.task-view-card-image{
    height: 300px; /* Your height here */
    overflow: hidden;
}

.task-view-card-text {
    height: 145px; /* Your height here */
    overflow: hidden;
}
