<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../layui_css/layui-v2.5.6/layui/css/layui.css"  media="all">
<script type="text/javascript" src="../layui_css/layui-v2.5.6/layui/layui.js"></script>

<html>
    <head>
        <div class="layui-container">
            <div class="layui-col-md1">
                <h1> &nbsp; </h1>
            </div>

            <div class="layui-col-md1">
                <h1> Create </h1>
            </div>
        </div>
    </head>

    </br>
    </br>
    </br>
    </br>
    </br>

    <body>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <!--PLACE HOLDER-->
                    &nbsp;
                </div>

                <div class="layui-col-md2">
                    <!--TITLES-->
                    Titles
                </div>

                <div class="layui-col-md6">
                    <!--TEXT-->
                    Text
                </div>

                <div class="layui-col-md1">
                    <!--PLACE HOLDER-->
                    &nbsp;
                </div>

                <div class="layui-col-md2">
                    <!--BUTTONS-->
                    <button id="HOME_PAGE" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" onclick="javascript: to_home_page();" style="width:90px">
                        HOME
                    </button> </br></br>

                    <button id="CANCEL" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" onclick="javascript: cancel();" style="width:90px">
                        CANCEL
                    </button> </br></br>

                    <button id="SUBMIT" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" style="width:90px">
                        SUBMIT
                    </button> </br></br>
                </div>
            </div>
        </div>
    </body>

    <script>
        function to_home_page(){
            // Redirect to Home Page
            window.location.href = "file:///Users/fredhu/Desktop/UCSDB/team-chongchongchong/templates/design/create.html";
        };

        function cancel(){
            // Reload the page so everything is cleared
            window.location.reload();
        };

        // SUBMIT 👇 SUBMIT 👇 SUBMIT 👇 SUBMIT 👇

        layui.use('layer', function(){
            var $ = layui.jquery, layer = layui.layer;
            function tempfunc(){
                layer.msg("Sucessfully submitted.", {
                    time: 20000,
                    btn: "CLOSE"
                });
            }

            $('#SUBMIT').on('click', function(){
                submit();
                if (submit_flag){
                    tempfunc();
                } else {
                    window.alert("Submission Failure");
                }
                submit_flag = false;
                window.location.href = "file:///Users/fredhu/Desktop/UCSDB/team-chongchongchong/templates/design/view.html";
            });
        });

        var submit_flag = false;

        function submit(){
            window.alert("ADD POST REQUEST HERE!");
            submit_flag = true;
        };

        // SUBMIT 👆 SUBMIT 👆 SUBMIT 👆 SUBMIT 👆

    </script>

</html>
