<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../layui_css/layui-v2.5.6/layui/css/layui.css"  media="all">
<script type="text/javascript" src="../layui_css/layui-v2.5.6/layui/layui.js"></script>

<html>
    <head>
        <div class="layui-container">
            <div class="layui-col-md1">
                <h1> &nbsp; </h1>
            </div>

            <div class="layui-col-md1">
                <h1> View </h1>
            </div>
        </div>
    </head>

    </br>
    </br>
    </br>
    </br>
    </br>

    <body>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <!--PLACE HOLDER-->
                    &nbsp;
                </div>

                <div class="layui-col-md2">
                    <!--TITLES-->
                    Titles
                </div>

                <div class="layui-col-md6">
                    <!--TEXT-->
                    Text
                </div>

                <div class="layui-col-md1">
                    <!--PLACE HOLDER-->
                    &nbsp;
                </div>

                <div class="layui-col-md2">
                    <!--BUTTONS-->
                    <button id="HOME_PAGE" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" onclick="javascript: to_home_page();" style="width:90px">
                        HOME
                    </button> </br></br>

                    <button id="EDIT" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" onclick="javascript: editing();" style="width:90px">
                        EDIT
                    </button> </br></br>

                    <button id="NEW" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" onclick="javascript: new_task();" style="width:90px">
                        NEW
                    </button> </br></br>

                    <button id="DELETE" type="button" class="layui-btn layui-btn-sm layui-btn-radius" name="GO_HOME" onclick="javascript: delete_req();" style="width:90px">
                        DELETE
                    </button> </br></br>
                </div>
            </div>
        </div>
    </body>

    <script>
        function to_home_page(){
            // Redirect to Home Page
            window.location.href = "file:///Users/fredhu/Desktop/UCSDB/team-chongchongchong/templates/design/create.html";
        };

        function delete_req(){
            window.alert("ADD DELETE REQUEST HERE!");
        }

        function editing(){
            window.location.href = "file:///Users/fredhu/Desktop/UCSDB/team-chongchongchong/templates/design/update.html";
        }

        function new_task(){
            window.location.href = "file:///Users/fredhu/Desktop/UCSDB/team-chongchongchong/templates/design/create.html";
        }

    </script>

</html>
