<div class="layui-container">
  <blockquote>
    <h2>Leaderboard</h2>
  </blockquote>
  <table class="striped">
    <thead class="striped">
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each allusers}}
        <tr>
          <td>{{displayName}}</td>
          <td>{{score}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
